.responsive_table{
    display:flex;
}
.row.attendance{
    padding: 60px 0px 15px 90px;

}
.confirm-title{
    padding:10px;
}

.confirm-buttons {
    padding:10px;
    display:flex;
    flex-direction: row-reverse;
}
.app-spinner{
    padding: 100px 150px;
}