<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-18 font-b-500 mb-2">
                  Welcome back <div class="weight-600 font-25 col-blue pt-1">{{ getFullName() }}!</div>
                </h4>
                <p class="font-16 max-width-600">Welcome back to AttendEase! We're thrilled to have you here again as
                  you continue your journey with us to make attending school even more enjoyable and rewarding. We truly
                  appreciate your commitment to enhancing your educational experience through our platform.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
        <!--GEOLOCATION-->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="header">
                <div class="col-xs-10 col-sm-10">
                  <h2>
                    <strong>Your Location</strong>
                  </h2>
                </div>
                <div class="col-xs-2 col-sm-2">
                  <h2>
                    <strong>Location Status: <span [ngStyle]="{'color': (onLocation==true ? 'green':'red')}">{{onLocation ? 'Inside' : 'Outside' }}</span> </strong>
                  </h2>
                </div>
              </div>
              <div class="body">
                <div class="location">
                  <google-map height="400px" width="auto" [zoom]="zoom" [center]="center" [options]="options">
                    <map-polygon [paths]="vertices" />
                    <map-polygon [paths]="vertices1" />
                    <map-polygon [paths]="vertices2" />
                    <map-polygon [paths]="vertices3" />
                    <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                      [title]="marker.title" [options]="marker.options">
                    </map-marker>
                 
                  </google-map>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--END GEOLOCATION-->

    <!--CALENDAR-->

      
      <!--END CALENDAR-->
      <!--todaysclass-->
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="header">
              <h2>All Teachers With Time and Room - Scheduled for you</h2>
              <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Add</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>Refresh</span>
                </button>
              </mat-menu> -->
            </div>
            <div class="body">
              <ng-scrollbar style="height: 380px" visibility="hover">
                <div class="recent-comment" *ngFor="let teacher of classList">
                  <div class="notice-board">
                    <div class="table-img" >
                      <img class="notice-object" [src]="teacher.teacher_profile" alt="..." width="50px" height="50px">
                    </div>
                    <div class="notice-body" >
                      <h6 class="notice-heading col-green">{{teacher.teacher_name}}</h6>
                      <p>{{teacher.subject}}</p>
                      <p class="text-muted">{{teacher.class_days + ' : ' + formatTimeOnly(teacher.class_start) + ' - '+ formatTimeOnly(teacher.class_end)}}</p>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Calendar</h2>
            </div>
            <div class="header" >
              <h2 class="p">{{ currentDate | date:'EEEE MMMM d, yyyy'}}</h2>
              <br>
            </div>
            <div class="body">
              <div class="month-navigation">
                <button (click)="previousMonth()">◀</button>
                <span>{{ currentMonth }}</span>
                <button (click)="nextMonth()">▶</button>
              </div>
              <div class="days">
                <div *ngFor="let day of daysOfWeek" class="day">{{ day }}</div>
              </div>
              <div class="dates m-t-15">
                <div *ngFor="let date of dates" class="date"
                  [ngClass]="{ 'current-date': isCurrentDate(date), 'empty-date': date === -1 }"
                  (click)="handleDateClick(date)">
                  {{ date !== -1 ? date : '' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="header">
              <h2>Today's Class of the student</h2>
            </div>
            <div class="body">
              <ng-scrollbar style="height: 380px" visibility="hover">
                <div class="recent-comment" *ngFor="let teacher of todayClassList">
                  <div class="notice-board">
                    <div class="table-img" >
                      <img class="notice-object" [src]="teacher.teacher_profile" alt="..." width="50px" height="50px">
                    </div>
                    <div class="notice-body" >
                      <h6 class="notice-heading col-green">{{teacher.teacher_name}}</h6>
                      <p>{{teacher.subject}}</p>
                      <p class="text-muted">{{teacher.class_days + ' : ' + formatTimeOnly(teacher.class_start) + ' - '+ formatTimeOnly(teacher.class_end)}}</p>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>
      <!--teacher end-->
    </div>
 
</section>