<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Attendance Sheet'" [items]="['Attendance']" [active_item]="'Sheet'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Attendance Sheet</h2>
                    </div>
                    <div class="body overflow-auto">
                        <div class="example-container">
                            <form [formGroup]="attendanceForm">
                                <div class="row">
                                    <div class="col-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Choose Month and Year</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="fromDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker panelClass="example-month-picker" startView="multi-year"
                                            (monthSelected)="setMonthAndYear($event, picker)"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Subject</mat-label>
                                        <mat-select formControlName="subject" required>
                                            <mat-option *ngFor="let sub of subjectList" [value]="sub.subjectID">{{sub.subject}} - {{sub.description}} - [{{sub.units.toLocaleString('en-us', {minimumFractionDigits: 1})}}]</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="attendanceForm.get('subject')?.hasError('required')">
                                            Subject is required
                                        </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Section</mat-label>
                                        <mat-select formControlName="section" required>
                                            <mat-option *ngFor="let sec of sectionList" [value]="sec.id">{{sec.section_year}} - {{sec.section_name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="attendanceForm.get('section')?.hasError('required')">
                                            Section is required
                                        </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <button mat-raised-button color="primary" class="big-button" (click)="filterScheduleSectionList()">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                      
                        <table class="table table-bordered border-bottom">
                            <thead>
                                <tr role="row">
                                    <th class="border-bottom-0">
                                        Student Name</th>
                                    <th *ngFor="let dates of dayArray">{{dates}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let index of indexArray">
                                    <td >
                                        <div class="d-flex"> <span class="attnd-user"> <img alt="image"
                                                    class="msr-2 rounded-circle"
                                                    src="{{index.profile}}"></span>
                                            <div class="mt-sm-2">
                                                <h6>{{index.name}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngFor="let dates of dateArray" class="attendance-icon">
                                        <span *ngFor="let stud of studentList[index.name]">
                                        {{formatDateOnly(stud.roster_date) == dates ? (stud.is_present == 2 ? 'L' : stud.is_present == 1 ? 'P' : stud.is_present == 0 ? 'A' : '-') : ''}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>