<div class="addContainer">
  <div class="modalHeader clearfix">
    <div class="editRowModal">
      <div class="modal-about">
        {{ dialogTitle }}
      </div>
    </div>
    <button 
      mat-icon-button 
      class="modal-close-button" 
      aria-label="Close dialog" 
      (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="classScheduleForm" (ngSubmit)="submit()">
        <!-- Class Subject -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Class Subject</mat-label>
              <mat-select formControlName="class_subject" required>
                <mat-option *ngFor="let sub of subjectList" [value]="sub.subjectID">{{sub.subject}} - {{sub.subjectCode}} - [{{sub.units.toLocaleString('en-us', {minimumFractionDigits: 1})}}]</mat-option>
              </mat-select>
              <mat-error *ngIf="classScheduleForm.get('class_subject')?.hasError('required')">
                Class Subject is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- Class Section -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Class Section</mat-label>
              <mat-select formControlName="class_section" required>
                <mat-option *ngFor="let sec of sectionList" [value]="sec.id">{{sec.section_year}} - {{sec.section_name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="classScheduleForm.get('class_section')?.hasError('required')">
                Class Section is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Room -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Room</mat-label>
              <mat-select formControlName="class_room" required>
                <mat-option [value]="'2'">2</mat-option>
                <mat-option [value]="'3'">3</mat-option>
                <mat-option [value]="'Computer Laboratory1'">
                  Computer Laboratory1
                </mat-option>
                <mat-option [value]="'Computer Laboratory2'">
                  Computer Laboratory2
                </mat-option>
                <mat-option [value]="'6'">6</mat-option>
                <mat-option [value]="'7'">7</mat-option>
                <mat-option [value]="'AutoCad Laboratory'">
                  AutoCad Laboratory
                </mat-option>
                <mat-option [value]="'Electronic Laboratory1'">
                  Electronic Laboratory1
                </mat-option>
                <mat-option [value]="'Electronic Laboratory2'">
                  Electronic Laboratory2
                </mat-option>
                <mat-option [value]="'11'">11</mat-option>
                <mat-option [value]="'12'">12</mat-option>
              </mat-select>
              <mat-error *ngIf="classScheduleForm.get('class_room')?.hasError('required')">
                Room is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Class Day -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Class Day</mat-label>
              <mat-select formControlName="class_days" multiple required>
                <mat-option *ngFor="let day of class_Day" [value]="day">
                  {{ day }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="classScheduleForm.get('class_days')?.hasError('required')">
                Class Day is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Class Start -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field appearance="outline" class="example-full-width mb-3">
              <mat-label>Class Start</mat-label>
              <input matInput [ngxTimepicker]="class_start" name="class_start" formControlName="class_start"
                placeholder="Select Class Start Time" style="font-size: 25px;" />
              <ngx-material-timepicker #class_start></ngx-material-timepicker>

              <mat-error *ngIf="classScheduleForm.get('class_start')?.hasError('required')">
                Class Start is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Class End -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field appearance="outline" class="example-full-width mb-3">
              <mat-label>Class End</mat-label>
              <input matInput [ngxTimepicker]="class_end" name="class_end" formControlName="class_end"
                placeholder="Select Class End Time" style="font-size: 25px;" />
              <ngx-material-timepicker #class_end></ngx-material-timepicker>
              <mat-error *ngIf="classScheduleForm.get('class_end')?.hasError('required')">
                Class End is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row" align="end">
              <button mat-raised-button color="primary" *ngIf="action=='edit'" [disabled]="!classScheduleForm.valid" [mat-dialog-close]="1"
                (click)="updateClassSchedule()">
                Save
              </button>
              <button mat-raised-button color="primary" *ngIf="action!='edit'" [disabled]="!classScheduleForm.valid" [mat-dialog-close]="1"
              (click)="addSchedule()">
              Save
            </button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                Cancel
              </button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>