<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Today Attendance'" [items]="['Attendance Record']" [active_item]="'Today Attendance'">
      </app-breadcrumb>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>Attendance</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input (keyup)="applyFilter()" [(ngModel)]="searchKey" placeholder="Search" type="text" #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="right">
                    <ul class="tbl-export-btn">
                      <!-- <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="ADD">
                          
                            <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="openDialog()">
                            <mat-icon class="col-white">create</mat-icon>
                          </button>
                      
                        </div>
                      </li> -->
                      <!-- <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="REFRESH">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li> -->
                    </ul>
                   </div>
                </div>


                <div class="body overflow-auto">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="arrayData" matSort class="mat-cell advance-table">
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Subject
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="mobile-label">Subject:</span> {{row.subject_name}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="class_start">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Updated Datetime
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="mobile-label">Updated Datetime</span> {{row.class_start }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="class_end">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Updated Datetime
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="mobile-label">Updated Datetime</span> {{row.class_end }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="roster_id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Roster ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">Roster ID:</span>{{row.roster_id}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="roster_date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Roster Date
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">Roster Date:</span>{{row.roster_date | date:'longDate'}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="pin">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>PIN
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">PIN:</span>{{row.pin}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="section">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Section
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">Section:</span>{{row.section}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="modal">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">Action:</span>
                          <button mat-raised-button color="accent" (click)="current_attendance(row.id)">Attendance Record</button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                    <!-- Loading spinner -->
                    <!-- <div class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    
                  <div class="no-results" [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                      No results
                    </div> -->
                      
                    <mat-paginator #paginator [length]="arrayData.filteredData.length" [pageIndex]="0" [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>