<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [items]="['Home']"
        [active_item]="'Subject & Class Schedule'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="col-xs-12 col-sm-6">
              <h2>
                <strong>MY CLASS</strong>
              </h2>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-purple-dark">
                        <br>
                          <h6>TPC 328</h6>
                          <h4>Personnel Administration</h4>
                          <span>TTH - 01:00 PM - 02:30 PM </span>
                        <!--<div class="name-center">General Manager</div>-->
                      </div>
                   
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" (click)="PA()">Attendance</button>
                      </div>
                    <!-- <div class="profile-userbuttons">
                        <button mat-flat-button color="primary" (click)="openAttendanceDialog()">Attendance</button>
                      </div>--> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-cyan">
                        <br>
                        <h6>FL 2 </h6>
                        <h4>Foreign Language 2</h4>
                        <span>MW - 02:30 PM - 04:00 PM </span>
                      </div>
               
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" (click)="FOLA()">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-dark">
                        <br>
                        <h6>TCC 326</h6>
                        <h4>Programming II</h4>
                        <span>MW - 08:30 AM - 12:00 AM</span>
                      </div>
                  
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        
           
                             
 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>