<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [items]="['Home']"
        [active_item]="'Subject & Class Schedule'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="col-xs-12 col-sm-6">
              <h2>
                <strong>MY CLASS</strong>
              </h2>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-4" *ngFor="let roster of scheduleList">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-purple-dark">
                        <br>
                          <h6>SECTION: {{roster.section}}</h6>
                          <h4>{{roster.subject_name}}</h4>
                          <span>[{{roster.class_days}}] {{roster.class_start}} - {{roster.class_end}} </span>
                        <!--<div class="name-center">General Manager</div>-->
                      </div>
                 
                      <br>
                      <span><b>Last Attendance:</b> {{roster.last_attendance_datetime | date:'medium' }} </span>
                      <span style="margin-left:30px"><b>PIN:</b> {{roster.last_attendance_pin }} </span>
                      <span style="margin-left:30px"><b>Present:</b>  32 </span>  <span style="margin-left:10px"> <b>Absent:</b> 2 </span> 
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <!-- <button mat-raised-button color="primary" [disabled]="!roster.class_days.includes(dayOfWeek) || (roster.last_attendance_datetime | date:'longDate') == (currentDate | date:'longDate')" (click)="PA(roster.id,roster.section_id)">Generate Attendance PIN</button> -->
                        <button mat-raised-button color="primary" (click)="PA(roster.id,roster.section_id)">Generate Attendance PIN</button>
                        <span style="margin-left:30px"></span>
                        <button mat-raised-button color="accent" (click)="current_attendance(roster.last_attendance_id)">Attendance Record</button>
                      </div>
                    <!-- <div class="profile-userbuttons">
                        <button mat-flat-button color="primary" (click)="openAttendanceDialog()">Attendance</button>
                      </div>--> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        
           
                             
 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>