<!-- toolbar.component.html -->
<div class="toolbar">

    <div class="logo">
    </div>
    <div class="course-info">
      <h3>TPC 321</h3>
      <h2>Programming II</h2>
      <h6>MW - 8:30 - 12:00 A.M</h6>
    </div>
  </div>
  
  <!-- programming.component.html -->
  <div class="container">
    <div class="s">
    <div class="box">
    <!--    <input
    *ngFor="let digit of otpDigits; let i = index"
        type="text"
        [(ngModel)]="otp[i]"
        (ngModelChange)="onDigitChange(i)"
        maxlength="1"
      />
    </div>-->  
    <button (click)="ajaxRequest()">Submit Code</button>
  </div>
  </div>