<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Subject & Class Schedule'" [items]="['Home']"
        [active_item]="'Subject & Class Schedule'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="col-xs-10 col-sm-10">
              <h2>
                <strong>Subject & Class Schedule</strong>
              </h2>
            </div>
            <div class="col-xs-2 col-sm-2">
              <h2>
                <strong>Location Status: <span [ngStyle]="{'color': (onLocation==true ? 'green':'red')}">{{onLocation ? 'Inside' : 'Outside' }}</span> </strong>
              </h2>
            </div>
          </div>
          <div class="body">
            <div class="row">
            
              <div class="col-md-4" *ngFor="let roster of classList">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-green">
                        <div class="user-name">{{roster.subjectCode}}</div>
                        <div class="name-center">{{roster.subject}}</div>
                      </div>
                      <img [src]="roster.teacher_profile" class="user-img" alt="">
                      <p>{{roster.profile_picture}}</p>
                      <p>{{roster.teacher_name}}</p>
                      <p>{{roster.class_days}} - {{formatTime(roster.class_start)}} - {{formatTime(roster.class_end)}}
                        <br />Room {{roster.class_room}}
                      </p>
                      Attendance: {{roster.last_present == 2 ? 'Late' : roster.last_present == 1 ? 'Present' : 'Absent'}} 
                    
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" [disabled]="(!checkerTime(roster.class_start,roster.class_end,roster.roster_id) || !roster.class_days.includes(dayOfWeek)) || !onLocation || roster.last_present_datetime != null" (click)="PA(roster.roster_id,roster.class_start)">Attendance</button>
                        <!-- <button mat-raised-button color="primary" (click)="PA(roster.roster_id,roster.class_start)">Attendance</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>