<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Subject & Class Schedule'" [items]="['Home']"
        [active_item]="'Subject & Class Schedule'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="col-xs-12 col-sm-6">
              <h2>
                <strong>Subject & Class Schedule</strong>
              </h2>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-purple-dark">
                        <br>
                          <h6>TPC 328</h6>
                          <h4>Personnel Administration</h4>
                          <span>TTH - 01:00 PM - 02:30 PM </span>
                        <!--<div class="name-center">General Manager</div>-->
                      </div>
                      <img src="assets/images/user/usrbig1.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" (click)="PA()">Attendance</button>
                      </div>
                    <!-- <div class="profile-userbuttons">
                        <button mat-flat-button color="primary" (click)="openAttendanceDialog()">Attendance</button>
                      </div>--> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-cyan">
                        <br>
                        <h6>FL 2 </h6>
                        <h4>Foreign Language 2</h4>
                        <span>MW - 02:30 PM - 04:00 PM </span>
                      </div>
                      <img src="assets/images/user/usrbig2.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" (click)="FOLA()">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-dark">
                        <br>
                        <h6>TCC 326</h6>
                        <h4>Programming II</h4>
                        <span>MW - 08:30 AM - 12:00 AM</span>
                      </div>
                      <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-raised-button color="primary" (click)="prog()">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-orange">
                        <br>
                        <h6>TCC 325 </h6>
                        <h4>Networking</h4>
                        <span>TTH - 2:30 PM - 6:00 PM</span>
                      </div>
                      <img src="assets/images/user/usrbig4.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-green">
                        <br>
                        <h6>TPC 329</h6>
                        <h4>Technology Research 2</h4>
                        <span>Sat - 9:00 AM - 12:00 AM</span>
                      </div>
                      <img src="assets/images/user/usrbig5.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-red">
                        <br>
                        <h6>TCC 327</h6>
                        <h5>System Analysis and Design</h5>
                        <span>FRI - 9:00 AM - 12:00 AM</span>
                      </div>
                      <img src="assets/images/user/usrbig6.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-indigo">
                        <br>
                        <h6>TPC 326 </h6>
                        <h4 style="font-size: 17px;">Industrial Organization and Management</h4>
                        <span> MW - 07:00 PM - 08:30 PM </span>
                      </div>
                      <img src="assets/images/user/usrbig7.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header bg-brown">
                        <br>
                        <h6>TPC 327</h6>
                        <h4 style="font-size: 18px;">Shop Supervision and Apprenticeship Training</h4>
                        <span>TTH - 07:00 PM - 08:30 PM</span>
                      </div>
                      <img src="assets/images/user/usrbig8.jpg" class="user-img" alt="">
                      <br>
                      <br>
                      <br>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary">Attendance</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>