<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!--<img [src]='teachers.img' alt="avatar">-->
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="manageRosterForm" (ngSubmit)="submit">
      <div class="row">

   
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-6" *ngIf="action!='edit'">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Schedule</mat-label>
            <mat-select formControlName="schedule" required>
              <mat-option *ngFor="let sch of scheduleList" [value]="sch.id">{{sch.subject_name}} - [Section:{{sch.section}}] - [{{sch.class_days}}] - [{{sch.class_start}}-{{sch.class_end}}]</mat-option>
            </mat-select>
            <mat-error *ngIf="manageRosterForm.get('schedule')?.hasError('required')">
              Schedule is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Teacher</mat-label>
            <mat-select formControlName="teacher" required>
              <mat-option *ngFor="let teach of teacherList" [value]="teach.id">{{teach.firstname}} {{teach.lastname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="manageRosterForm.get('teacher')?.hasError('required')">
              Teacher is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" *ngIf="action=='edit'" [disabled]="!manageRosterForm.valid" [mat-dialog-close]="1"
              (click)="updateManageRoster()">
              Save
            </button>
            <button mat-raised-button color="primary" *ngIf="action!='edit'" [disabled]="!manageRosterForm.valid" [mat-dialog-close]="1"
            (click)="addRoster()">
            Save
          </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>